<ly-grid container [spacing]="16" [withClass]="classes.grid">
  <ly-grid item col>
    <ly-card>
      <ly-card-media bgImg="https://picsum.photos/500?image=476" ratio="1:1" title="Mountains blue"></ly-card-media>
      <ly-card-content>
        <h2 lyTyp="headline" gutterBottom>AKITA</h2>
        <p lyTyp="body1">
          Akita is a state management pattern, built on top of RxJS, which takes the idea of multiple data stores from Flux and the immutable updates from Redux, along with the concept of streaming data, to create the Observable Data Stores model.
        </p>
      </ly-card-content>
      <ly-card-actions>
        <a ly-button appearance="icon" href="paper1">
          <ly-icon>arrow_forward</ly-icon>
        </a>
      </ly-card-actions>
    </ly-card>
  </ly-grid>
  <ly-grid item col>
    <ly-card>
      <ly-card-media bgImg="https://picsum.photos/500?image=827" ratio="1:1" title="Mountains blue"></ly-card-media>
      <ly-card-content>
        <h2 lyTyp="headline" gutterBottom>NGRX/STORE</h2>
        <p lyTyp="body1">
          NgRx Store provides reactive state management for Angular apps inspired by Redux. Unify the events in your application and derive state using RxJS.
        </p>
      </ly-card-content>
      <ly-card-actions>
        <a ly-button appearance="icon" href="paper2">
          <ly-icon>arrow_forward</ly-icon>
        </a>
      </ly-card-actions>
    </ly-card>
  </ly-grid>
  <ly-grid item col>
    <ly-card>
      <ly-card-media bgImg="https://picsum.photos/500?image=482" ratio="1:1" title="Mountains blue"></ly-card-media>
      <ly-card-content>
        <h2 lyTyp="headline" gutterBottom>NGXS/STORE</h2>
        <p lyTyp="body1">
          NGXS is a state management pattern + library for Angular. It acts as a single source of truth for your application's state, providing simple rules for predictable state mutations.
        </p>
      </ly-card-content>
      <ly-card-actions>
        <a ly-button appearance="icon" href="paper3">
          <ly-icon>arrow_forward</ly-icon>
        </a>
      </ly-card-actions>
    </ly-card>
  </ly-grid>
</ly-grid>
